body {
  min-height: 2000px;
  padding-top: 70px;
}
.container {
    max-width: 100%;
}
.table-bordered > thead > tr > th, .table-bordered > thead > tr > td {
    border-bottom-width: 0px;
}
thead tr {
    background: #E7E7E7;
}